<div class="row" ng-show="!currentUser">
  <div class="col-md-3"></div>
  <div class="col-md-6">

    <h1>Welcome!</h1>
    <h2>Sign in or create account.</h2>
    <hr/>

    <h2>Create account</h2>

    <form name="signupForm" novalidate ng-submit="signup(account)">
      <div class="form-group">
        <label for="exampleInputEmail1">Login</label>
        <input type="text" class="form-control" id="signup-login" placeholder="Login"
          ng-model="account.login" ng-minlength="6" ng-pattern="/[\w\d]+/">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="signup-password" placeholder="Password"
          ng-model="account.password" ng-minlength="8" ng-pattern="/[\w\d]+/">
      </div>
      <button type="submit" class="btn btn-default"
      ng-disabled="( signupForm.$invalid || (account.login.length === 0) || (account.password.length === 0) )">Sign up</button>
    </form>

    <p>{{account.login}}</p>
    <p>{{account.password}}</p>

  </div>

  <div class="col-md-3"></div>
</div>
